.flexible-container{
width: 99vw;
height: 100vh;
background-color: black;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
.flexible-background{

    img{
        width: 1140px;
        height: 600px;
        border-radius: 25px;

    }
}
.flexible-title{
    padding-top: 20px;
    padding-bottom: 10px;
    h3 {
        color: white;
        font-size: 48px;
        font-weight: 600;
        font-style: italic;
    }
 
}
.flexible-button{

    button {
        width: 150px;
        height: 60px;
        cursor: pointer;
        border-radius: 50px;
        font-size: 19px;
        font-weight: 600;
        background-color: rgb(255, 255, 255);
        color: black;
        // background: -webkit-linear-gradient(rgb(225, 184, 241), rgb(102, 11, 46));
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
       
    }
   
    button:hover {
        opacity: 0.9;
    }
}
}