.header-container {
  background-color: black;
  height: 170px;
  padding-left: 80px;

  color: white;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  position: fixed;
width: 99vw;
z-index: 9999;

  &__logo {
    img {
      height: 40px;
      width: 150px;

      margin: 15px 0 0 15px;
    }
  }
  &__choices {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    .choices-title {
      display: flex;
      gap: 30px;
    }
    .choices-search {
      width: 750px;
      height: 60px;
      background-color: white;
      border-radius: 30px;
      display: flex;
      color: black;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      .part1 {
        border-right: 1px solid rgb(214, 202, 202);
        padding-right: 20px;
        margin-left: 20px;
      }

      .part1:hover {
        color: #ff385c;
      }
      .part2 {
        border-right: 1px solid rgb(214, 202, 202);
        padding-right: 20px;
      }
      .part2:hover {
        color: #ff385c;
      }
      .part3 {
        border-right: 1px solid rgb(214, 202, 202);
        padding-right: 20px;
      }
      .part3:hover {
        padding: 1px solid grey;
        color: #ff385c;
      }
      .part4 {
        border-right: 1px solid rgb(214, 202, 202);
        padding-right: 20px;
      }
      .part4:hover {
        padding: 1px solid grey;
        color: #ff385c;
      }
      .part5 {
        margin-right: 10px;
        background-color: #ff385c;
        color: white;
        width: 47px;
        height: 45px;
        display: flex;
        align-items: center;
        border-radius: 50px;
        justify-content: center;

        i {
          font-size: 20px;
        }
      }
    }
  }
  &__choices-search{
    input {
      width: 500px;
      height: 40px;
      border-radius: 20px;

    }
    input:focus{
      padding-left: 15px;
    }
    input::placeholder {
      padding-left: 15px;
font-style: italic;
    }
    i{
      padding-left: 15px;
      cursor: pointer;
    }
  }
  &__last {
    display: flex;
    gap: 25px;
    cursor: pointer;
    i {
      font-size: 20px;
    }
    .header-login {
      width: 70px;
      height: 30px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      background-color: rgb(238, 227, 227);
      color: black;
      i {
        margin-left: 10px;
      }
    }
  }
}
.header.header-containers-active {
  background-color: #fff;
}
.none {
  display: none !important;
}

// Animation for the search bar when scroll down

  

.header-container__choices-search {


  animation: zoom-out 1s ease ;
}

@keyframes zoom-out {
  0% {
    transform: scale(0.5, 0.5);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}